<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
         <mimeMap fileExtension=".ttf" mimeType="application/x-woff" />
     </staticContent>
    </system.webServer>
</configuration> 